#myVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
.fls-hero-video * {
  color: white;
}
.fls-hero-video .navbar {
  margin-top: 12px;
}
.navbar-item img {
  max-height: 2.5rem;
}
#down-hero h1 {
  margin-bottom: 48px;
}
.button.is-rounded {
  border-radius: 20px;
}
a.button.is-outlined:hover * {
  color: black !important;
}
.image.line-acc-fls {
  height: 256px;
  width: 256px;
}
/*=========================
        Icons
 ================= */
/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
/* footer social icons hover  */
.social-network a.icoInstagram:hover {
  background-color: #aa034e;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoYoutube:hover {
  background-color:#BD3518;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}
.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: white;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.social-circle .icoFacebook i  {
  color:#3B5998;
}
.social-circle .icoTwitter i  {
  color:#33ccff;
}
.social-circle .icoYoutube i  {
  color:#BD3518;
}
.social-circle .icoInstagram i  {
  color:#aa034e;
}
/*.footer{
  height: 300px
}*/
