$body-font-family = "Gandhi Sans", "Ubuntu", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif
$color-pack = false

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


.page
  @extend .fade-transition

.container
  &.fluid
    padding: 0
