$body-font-family = "Gandhi Sans", "Ubuntu", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif
$color-pack = false

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


.page
  @extend .fade-transition

.container
  &.fluid
    padding: 0

.v-toolbar__content
  display: flex
  .v-toolbar__items
    flex-grow: 1
    justify-content: center
    display: flex

.fullheight
  min-height: 100vh
